<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the number</title>
</head>
<body>
<h1>It is your number {{guess}}</h1>
<form action="" method="POST">
    <input type="submit" name="user_answer" value="TOO SMALL">
    <input type="submit" name="user_answer" value="TOO BIG">
    <input type="submit" name="user_answer" value="YOU WIN">
    <input type="hidden" name="min_val" value="{{min_val}}">
    <input type="hidden" name="max_val" value="{{max_val}}">
    <input type="hidden" name="guess" value="{{guess}}">
</form>
</body>
</html>